@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

@import 'base/_variables';
@import 'base/_mixins';

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

@import 'blocks/_promo';
@import 'blocks/_header';
@import 'blocks/_description';
@import 'blocks/_buttons';
@import 'blocks/_advantages';
@import 'blocks/_titles';
@import 'blocks/_more';
@import 'blocks/_subtitle';
@import 'blocks/_agent';
@import 'blocks/_prices';
@import 'blocks/_forms';
@import 'blocks/_managers';
@import 'blocks/_scheme';
@import 'blocks/_reviews';
@import 'blocks/_carousel';
@import 'blocks/_application';


 
