.advant {
    min-height: calc(590px - 109px);
    position: relative;
    padding: 58px 0 51px 0;
    background-color: #f3f3f3;
    color: $title-color;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(447px, 1fr));
        grid-template-rows: minmax(62px, auto);
        column-gap: 62px;
        row-gap: 36px;
    }
    &__item {
        display: grid;
        grid-template-columns: minmax(62px, auto) minmax(409px, auto);
        grid-template-rows: minmax(26px, auto) minmax(40px, auto);
        column-gap: 17px;
    }
    &__img {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    &__descr {
        grid-column: 2/3;
        grid-row: 2/3;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
} 