.application {
    min-height: calc(438px - 141px);
    position: relative;
    padding: 62px 0 79px 0;
    background: url('../img/application/application_bg.png') center (center/cover) no-repeat;
    &__wrapper {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        width: 896px;
        min-height: 297px;
        background-color: rgba($color:white, $alpha: 0.7)
    }
    &__questions {
        padding: 11px 0;
        min-height: calc(68px - 40px);
        background-color: #25333c;
    }
}

