.button {
    width: 125px;
    height: 30px;
    background-color: #959595;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2px;
    &:active {
        border: none; 
        outline: none;
    }
    &_main {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 73px;
    }
    &_submit {
        margin-top: 29px;
        width: 218px;
        height: 39px;
        background-color: #000000;
        font-size: 14px;
    }
    &_sm {
        margin-top: 29px;
        width: 110px;
        height: 26px;
        background-color: #000000;
        font-size: 13px;
    }
}