.footer {
    position: relative;
    height: 299px;
    padding: 64px 0 46px 0;
    .header__logo_footer {
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &__social {
        display: flex;
        height: 63px;
        width: 420px;
        padding: 25px 0 25px 0;
        margin-top: 79px;
        margin-right: 0;
        justify-content: center;
        span {
            margin: 79px 28.5px 0 28.5px;
        }
    }
}