.promo {
    min-height: calc(100vh - 105px);
    position: relative;
    background: url('../img/promo/main_bg.png') center (center/cover) no-repeat;
    padding: 23px 0 82px 0;
    &__subtitle {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
        color: $white-color;
        text-align: center;
        margin-bottom: 16px;
        margin-top: -3px;
    }
    &__h1 {
        font-family: 'Roboto Condensed';
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;
        margin: 0 auto -1px auto; 
    }
    &__h2 {
        font-family: 'Roboto Condensed';
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
        color: $white-color;
        text-align: center;
        margin: 0 auto 30px auto;
    }
    .divider {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &__services {
        &-wrapper {
            margin-top: 27px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
            column-gap: 33px;
        }
        &-img {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}