.promo {
    height: calc(100vh - 105px);
    position: relative;
    background: url('../img/promo/main_bg.png') center (center/cover) no-repeat;
    padding: 23px 0 82px 0;
    &__subtitle {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
        color: $white-color;
        text-align: center;
        margin-bottom: 26px;
        margin-top: 9px;
    }
    &__h1 {
        font-family: 'Roboto Condensed';
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;
        margin: 0 auto 9px auto; 
    }
    &__h2 {
        font-family: 'Roboto Condensed';
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
        color: $white-color;
        text-align: center;
        margin: 0 auto 38px auto;
    }
    .divider {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__services {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        &-wrapper {
            position: absolute;
            margin-top: 27px;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-img {
            
        }
    }
}