.title_26-700 {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    text-align: center;
    &_advant {
        margin-bottom: 31px;
    }
}