.title_26-700 {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: $title-color;
    text-align: center;
    &_advant {
        margin-bottom: 31px;
    }
    &_more, &_prices {
        @include divider_main;
    }
    &_agent {
        color: $white-color;
        color: #fff;
        text-transform: none;
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &_scheme {
        margin-bottom: 22px;
    }
}
.title_16-700 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    &_advant {
        grid-column: 2/3;
        grid-row: 1/2;
        color: $main-color;
        }
    &_prices {
        text-transform: uppercase;
        color: $white-color;
        background-color: #25333c;
        text-align: center;
        width: 261px;
        margin: 0 auto;
        line-height: 60px;
    }
    &_scheme {
        text-align: center;
        color: $main-color;
        margin-top: 12px;
    }
    
}
.title_18-700 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    color: $main-color;
    &_more {
        margin-top: 16px;
        text-align: center;

    }
    }